* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 5px;
}

.cell {
    width: 120px;
    height: 120px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px;
}

.game-cell {
    cursor: pointer;
}

.category-cell {
    background-color: #d4d4d4;
    padding: 5px;
}

.logo-cell {
    background-color: yellow;
}

.cell-X {
    color: red;
}

.cell-O {
    color: blue;
}

.autocomplete-active {
    background-color: #d4d4d4;
    /* Cor de fundo da sugestão ativa */
    color: #000;
    /* Cor do texto da sugestão ativa */
}